/* Reset de estilos para eliminar márgenes y rellenos predeterminados */
body, h1, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
}

/* Estilos para el encabezado */
h1 {
    font-size: 50px; /* Tamaño de fuente más grande */
    color: #100b2e;
    margin-bottom: 100px; /* Mayor separación entre el encabezado y la lista */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* Estilos para la lista de enlaces */
ul {
    list-style: none;
    font-size: 40px; /* Tamaño de fuente más grande para la lista */
    margin-top: 20px; /* Separación entre el encabezado y la lista */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

/* Estilos para los enlaces */
li {
    margin-bottom: 30px; /* Mayor separación entre elementos de la lista */
}

a {
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.5s;
}

a:hover {
    background-color: #0056b3;
}
